<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up | Climbers Connect</title>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/account/signup.css">
        <!-- Favicon -->
        <link rel="icon" href="assets/mountain.png">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&display=swap" rel="stylesheet">
    </head>
    <body>
        <img class="signup--background-img" src="assets/login.jpg" alt="picture of person standing in front of mountain">
        <div class="signup--text-container">
          <header class="signup--header">
              <a class="header--link" href="/">
                  <h2 class="signup--header-title">Climbers Connect</h2>
              </a>
              <a class="header--link" href="/login">
                  <h2 class="header--login-text">Sign In</h2>
              </a>
          </header>
            
          <% if (locals.messages.errors) { %>
              <% messages.errors.forEach( el => { %>
                  <div class="alert alert-danger"><%= el.msg %></div>
              <% }) %>    
          <% } %>
          <% if (locals.messages.info) { %>
              <% messages.info.forEach( el => { %>
                  <div class="alert alert-danger"><%= el.msg %></div>
              <% }) %>    
          <% } %>

          <div class="signup--form-container">
            <h1 class="signup--title">Climber Signup</h1>
            <p class="signup--p">Welcome, please enter your information</p>
            <form action="/signup" method="POST">
                <ul class="signup--list">
                    <li class="signup--li">
                        <h3 class="signup--li-heading">UserName</h3>
                        <input class="signup--input" type="text" name="userName" placeholder="Username">
                    </li>
                    <li class="signup--li">
                        <h3 class="signup--li-heading">Email</h3>
                        <input class="signup--input" type="email" name="email" placeholder="Email">
                    </li>
                    <li class="signup--li">
                        <h3 class="signup--li-heading">Password (8 character min.)</h3>
                        <input class="signup--input" type="password" name="password" placeholder="Password">
                    </li>
                    <li class="signup--li">
                        <h3 class="signup--li-heading">Confirm Password:</h3>
                        <input class="signup--input" type="password" name="confirmPassword" placeholder="Confirm Password">
                    </li>
                    <li class="signup--li">
                        <input class="signup--btn" type="submit" value="Signup">
                    </li>
                </ul>
            </form>

            <p class="not-a-user">Already a user? <a class="redirect" href="/login">Log in now</a></p>
          </div>
        </div>

        <h3 class="footer--author">&copy;Copyright Brian Schnee. All rights reserved.</h3>
    </body>
</html>