<div class="create--post-wrapper">
    <div class="create--post-container">
        <i class="close--icon fa-solid fa-x"></i>
        <section class="create--form-container">
            <div class="choose--post-type">
                <div class="choose--post climb-post">
                    <h2 class="post--climb-title">Climb</h2>
                    <hr class="post--climb-hr purple">
                </div>
                <div class="choose--post partner-post">
                    <h2 class="post--partner-title">Find Partner</h2>
                    <hr class="post--partner-hr light-blue">
                </div>
            </div>
            <form action="/user/create/<% %>" method="POST"></form>
        </section>
    </div>
</div>
