<footer class="footer">
    <section class="footer--text-container">
        <div class="footer--left-container">
            <img class="footer--logo-img" src="/assets/mountain.png">
            <h3 class="footer--logo-text">Climbers Connect</h3>
            <em class="footer--slogan">Your future climbing partners await</em>
        </div>
        <div class="footer--right-container">
            <div class="footer--list-container">
                <ul class="footer--list">
                    <li class="footer--list-li">
                        <h5 class="footer--list-title">CONTACT</h5>
                    </li>
                    <li class="footer--list-li li--margin-top">
                        <a class="footer--link" href="https://www.brianschnee.com/#contact">
                            <h4>Email</h4>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer--list-container footer--margin-left">
                <ul class="footer--list">
                    <li class="footer--list-li">
                        <h4 class="footer--list-title">CONTRIBUTING</h4>
                    </li>
                    <li class="footer--list-li li--margin-top">
                        <a class="footer--link" href="https://github.com/brianschnee/climbers-connect/issues">
                            <h4>Report a bug</h4>
                        </a>
                    </li>
                    <li class="footer--list-li li--margin-top">
                        <a class="footer--link" href="https://github.com/brianschnee/climbers-connect/issues">
                            <h4>Open an issue</h4>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer--list-container footer--margin-left">
                <ul class="footer--list">
                    <li class="footer--list-li">
                        <h5 class="footer--list-title">ABOUT</h5>
                    </li>
                    <li class="footer--list-li li--margin-top">
                        <a class="footer--link" href="/FAQ">
                            <h4>FAQ</h4>
                        </a>
                    </li>
                    <li class="footer--list-li li--margin-top">
                        <a class="footer--link" href="https://github.com/brianschnee/climbers-connect/blob/main/LICENSE.md">
                            <h4>License</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <hr>
    <section class="footer--icon-container">
        <section class="footer--icons">
            <a href="https://www.twitter.com/fullstackbrian">
                <img class="footer--icon" src="/assets/icons/twitter.png">
            </a>
            <a href="https://www.github.com/brianschnee">
                <img class="footer--icon" src="/assets/icons/github.png">
            </a>
            <a href="https://www.linkedin.com/in/brian-schnee-dev/">
                <img class="footer--icon" src="/assets/icons/linkedin.png">
            </a>
        </section>
        <h3 class="footer--author">&copy;Copyright Brian Schnee. All rights reserved.</h3>
    </section>
</footer>
