<header class="header">
    <nav class="header--nav">
        <ul class="header--list">
            <li class="header--li  logo--li">
                <a class="header--li-link" href="/profile">
                    <img class="header--logo-img" src="/assets/mountain.png">
                    <h3 class="header--logo-text">Climbers Connect</h3>
                </a>
            </li>
            <li class="header--li">
                <a class="header--li-link" href="#">
                    <h2>Feed</h2>
                </a>
            </li>
            <li class="header--li margin-left">
                <a class="header--li-link" href="#">
                    <h2 class="last--link">Sign out</h2>
                </a>
            </li>
        </ul>
    </nav>
</header>
