<header class="post--header">
    <img class="post--avatar" src="<%= user.profile.avatar.url %>">
    <span class="connect--area"><%= post.area %></span>
</header>
<div class="connect--content">
    <p class="connect--message"><%= post.message %></p>
    <span class="connect--createdAt"><%= post.createdAt.getFullYear() %></span>
</div>