<div class="climb--image-container">
    <img class="climb--img" src="<%= post.image.url %>">
</div>
<div class="comments--container">
    <header class="post--header">
        <div class="post--avatar-name-container">
            <img class="post--avatar" src="<%= user.profile.avatar.url %>">
            <div class="post--col">
                <span class="username"><%= user.username %></span>
                <span class="created-at-date"><%= date %></span>
            </div>
        </div>
    </header>
</div>
