<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title><%= title %> | Climbers Connect</title>

        <!-- Favicon -->
        <link rel="icon" href="/assets/mountain.png">
    
        <!-- Stylesheets -->
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/partials/header.css">
        <link rel="stylesheet" href="/css/partials/footer.css">
        <link rel="stylesheet" href="/css/faq.css">
        
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&display=swap" rel="stylesheet"> 

        <!-- Scripts -->
        <script src="/js/faq.js" defer></script>
        <script src="/js/dropdown.js" defer></script>
        <script
			src="https://kit.fontawesome.com/b89dd87408.js"
			crossorigin="anonymous"
			defer
		></script>
    </head>
    <body>
        <%- include('partials/header') -%>

        <h1 class="faq--title">Frequently Asked Questions</h1>

        <div class="faq--container">
            <ul class="faq--list">
                <li class="faq--li">
                    <div class="question--div">
                        <h2 class="faq--question">What is Bouldering?</h2>
                        <i class="expand--icon fa-solid fa-caret-down"></i>
                    </div>
                    <h2 class="faq--answer">Bouldering is a form of climbing that does not utilize ropes. The climbs range between 15-20 feet in height and require the use of a "crash pad" to assist a climbers landing. Since boulders are smaller than sport climbs, they have a short sequence of moves required to get to the top. When going to a climbing gym, bouldering is very approachable since it does not require any equipment besides shoes.</h2>
                </li>
                <li class="faq--li">
                    <div class="question--div">
                        <h2 class="faq--question">What is Sport Climbing?</h2>
                        <i class="expand--icon fa-solid fa-caret-down"></i>
                    </div>
                    <h2 class="faq--answer">Sport climbing is what people typically understand climbing as. The climbs are tall in height and demand for more endurance than boulders. Sport climbing has multiple forms, such as top, lead and trad. Some of these styles require the use of a belayer who feeds rope to aid your support on the wall and is there to grasp the rope if you fall or come down from the climb.</h2>
                </li>
                <li class="faq--li">
                    <div class="question--div">
                        <h2 class="faq--question">What is a Climbing Grade?</h2>
                        <i class="expand--icon fa-solid fa-caret-down"></i>
                    </div>
                    <h2 class="faq--answer">Climbing grades determine the difficulty of a climb. There is no universal system to determine the true grade of a climb. All climbing grades are inferred by the person who sets (builds the climb in a gym) or ascends it outdoors. Often, climbing grades will be readjusted as other climbers give their input. Certain factors are considered when deciding the grade, such as how small the holds are, how slippery they are, how much body tension is required, how much endurnace is needed, any dangers of the climb, dynamic moves, etc.</h2>
                </li>
                <li class="faq--li">
                    <div class="question--div">
                        <h2 class="faq--question">What is a Belayer?</h2>
                        <i class="expand--icon fa-solid fa-caret-down"></i>
                    </div>
                    <h2 class="faq--answer">A belayer is a climber that controls the rope that belongs to another climber assending a route. They are needed to grasp and stop the climber climbing, from falling. After a climber is finished with a route, the belayer is able to lower them gentely from large heights.</h2>
                </li>
                <li class="faq--li">
                    <div class="question--div">
                        <h2 class="faq--question">What Does Flashing a Climb Mean?</h2>
                        <i class="expand--icon fa-solid fa-caret-down"></i>
                    </div>
                    <h2 class="faq--answer">Flashing a climb means that you were able to complete the climb on your first ascent. However, flashing assumes that you have pre-existing knowledge about the climb you are trying to complete. If you had no prior insight, then completing it first try would be called onsighting.</h2>
                </li>
                <li class="faq--li">
                    <div class="question--div">
                        <h2 class="faq--question">What is Climbing Beta?</h2>
                        <i class="expand--icon fa-solid fa-caret-down"></i>
                    </div>
                    <h2 class="faq--answer">Beta refers to any insight on how to climb a climb. It can refer to specific moves that a climber should make, advice on body positioning, info about the feel of certain holds, or general technique guidelines to complete a climb.</h2>
                </li>
                <li class="faq--li">
                    <div class="question--div">
                        <h2 class="faq--question">What is Dynamic vs. Static Climbing?</h2>
                        <i class="expand--icon fa-solid fa-caret-down"></i>
                    </div>
                    <h2 class="faq--answer">Dynamic climbing refers to a style that involves coordinated often powerful moves to ascend a climb. Static climbing is an alternative style where you are able to climb in a very balanced and meticulous fashion.</h2>
                </li>
            </ul>
        </div>
        
        <%- include('partials/footer') -%>
    </body>
</html>