<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %> | Climbers Connect</title>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/index.css">
        <!-- Favicon -->
        <link rel="icon" href="assets/mountain.png">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap" rel="stylesheet">
        <script src="/js/index.js" defer></script>
    </head>
    <body>
        <div class="index--container">
            <img class="index--logo" src="/assets/mountain.png" alt="Climbers Connect logo">
            <h1 id="text" class="index--text"></h1>
            <p class="index--p">Click or press any key to continue</p>
        </div>
    </body>
</html>
