/* 
============== Base Styles ==============
*/

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.login--btn:hover {
  cursor: pointer;
}

/* 
============== Layout Styles ==============
*/

body {
  display: flex;
  color: #0d0c22;
}

hr {
  width: 50rem;
  border: .05rem solid #e0e0e0;
}

.login--li-heading {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.login--btn {
  margin-top: 3.5rem;
}

.login--btn,
.login--input {
  border-radius: 0.5rem;
}

/* 
============== Additional Styles ==============
*/

.login--text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login--form-container {
  margin-block: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login--header {
  padding: 2.5rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup--redirect {
  font-size: 1.3rem;
  font-weight: 300;
}

.signup--link {
  font-weight: 400;
  font-size: 1.3rem;
  color: #28966b;
  text-decoration: none;
}

.signup--link:hover {
  color: #184f42;
}

.min-char-len {
  font-size: 1.5rem;
  font-weight: 200;
}

.login--li-heading {
  font-size: 1.5rem;
  font-weight: 400;
}

.login--input,
.login--btn,
.login--title {
  min-width: 50rem;
}

.login--title {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: left;
}

.login--input {
  border: none;
  background: #f3f3f4;
  padding: .8rem;
  padding-left: 1.5rem;
  font-size: 1.2rem;
}

.login--btn {
  font-size: 1.5rem;
  background: #28966b;
  color: white;

  padding: 1rem;

  border: none;
  box-shadow: 0 0.35rem #257866;
  position: relative;
  margin-bottom: 2rem;
}

.login--btn:hover {
  cursor: pointer;
  top: -0.35rem;
  box-shadow: 0 .7rem #257866;
}

/* 
============== Media Queries ==============
*/

@media all and (max-width: 1125px) {
  .login--image {
    display: none;
  }
}

@media all and (max-width: 600px) {

  .login--input,
  .login--btn,
  .login--title {
    min-width: 35rem;
  }

  hr {
    width: 35rem;
  }
}