/*
============== Base Styles ==============
*/

:root {
    --white: #fff;
    --dark-blue-low-opacity: rgba(17, 20, 25, 0.475);
    --alternate-dark-blue: #1f242e;
    --dark-blue: #111419;
    --lighter-gray: rgb(243, 243, 243);
    --light-gray: rgb(227, 228, 229);
    --medium-light-gray: #babebf;
    --medium-gray: #959a9b;
    --dark-gray: #4F5D5F;
    --gray-blue: #68819C;
    --light-blue: #81AEE5;
    --medium-blue: #274469;
    --purple: #A0A1F5;
    --dark-purple: #383970;
    --gold: #FFE55C;
}

* {
    box-sizing: border-box;
}

.post--container {
    display: flex;
    min-height: 35rem;
    margin: 2rem 10rem;
    background: rgb(248, 248, 248);
    border-radius: .5rem;
    border: .075rem solid var(--light-gray);
}

.created-at-date {
    color: var(--dark-gray);
    font-weight: 300;
}

/*
============== Layout Styles ==============
*/

.post--header,
.post--extra-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post--col {
    display: flex;
    flex-direction: column;
}

.post--avatar-name-container {
    display: flex;
    align-items: center;
}

/*
============== Additional Styles ==============
*/

.climb--image-container,
.comments--container {
    width: 50%;
}

.comments--container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.post--header {
    position: relative;
    border-radius: .5rem .5rem 0 0;
}

.post--extra-info {
    border-radius: 0 0 .5rem .5rem;
}

.post--avatar {
    background: var(--light-blue);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: .1rem solid var(--light-gray);
    margin-right: .5rem;
}

.edit--options {
    font-size: 1.2rem;
    padding: .5rem;
    cursor: pointer;
}

.options--div {
    position: relative;
}

.options--form {
    display: none;
}

.options {
    position: absolute;
    top: 1.9rem;
    right: 0;
    width: 10rem;
    padding: .5rem;
    background: var(--lighter-gray);
    border: .1rem solid var(--light-gray);
    border-radius: .25rem;
}

.delete--li,
.edit--li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .5rem;
}

.delete--li:hover,
.edit--li:hover {
    background: var(--light-gray);
    border-radius: .25rem;
}

.options--span,
.edit-icon,
.edit--options {
    color: var(--dark-blue);
}

.trash-icon {
    color: red;
}

/* 
-------------- Climb --------------
*/

.climb--image-container {
    display: flex;
    align-items: center;
    background: black;
    border-radius: .25rem 0 0 .25rem;
}

.climb--img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 
-------------- Comments --------------
*/

.comments--section {
    height: 30rem;
    width: 100%;
    margin-block: 1rem;
    overflow-y: scroll;
}

.comment--li {
    display: flex;
    align-items: flex-start;
    padding-block: 1rem;
    border-top: .05rem solid var(--light-gray);
}

.commenter--avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.comment--text,
.comment--date {
    margin-top: .5rem;
}

.comment--text {
    margin-inline: 1rem;
    max-width: 75%;
    word-wrap: break-word;
}

.elipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 3;
    text-overflow: ellipsis;
}

.comment--date {
    margin-left: auto;
    color: var(--medium-gray);
}

.create--comment-form {
    margin-top: auto;
    width: 100%;
    position: relative;
}

.create--comment-textarea {
    height: 5rem;
    width: 100%;
    resize: none;
    padding-right: 2rem;
    border-radius: .25rem;
    border: .1rem solid var(--medium-light-gray);
}

.create--comment-textarea::placeholder {
    font-family: 'Raleway', sans-serif;
    font-size: .9rem;
}

.create--comment-textarea:focus {
    outline: none;
    border-color: var(--purple);
    box-shadow: 0 0 0 0.05rem var(--purple);
    -webkit-box-shadow: 0 0 0 0.05rem var(--purple);
}

.create--comment-btn {
    position: absolute;
    z-index: 10;
    top: .5rem;
    right: .5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.create--comment-btn:hover .create--comment-icon {
    color: var(--medium-blue);
}

.create--comment-icon {
    font-size: 1.1rem;
    color: var(--dark-blue);
}



@media screen and (max-width: 1290px) {
    .post--container {
        margin-inline: 6rem;
    }
}

@media screen and (max-width: 950px) {
    .post--container {
        flex-direction: column;
        border-radius: .25rem;
    }

    .climb--image-container,
    .comments--container {
        width: 100%;
    }

    .climb--img {
        border-radius: .25rem .25rem 0 0;
    }

    .climb--image-container {
        border-radius: .5rem .5rem 0 0;
    }

    .post--container {
        border-radius: .5rem;
    }
}

@media screen and (max-width: 800px) {

    .post--container {
        margin-inline: 3rem;
    }
}