/* 
============== Base Styles ==============
*/

:root {
    --white: #fff;
    --dark-blue: #111419;
    --lighter-gray: rgb(248, 248, 248);
    --light-gray: rgb(227, 228, 229);
    --medium-gray: #959a9b;
    --dark-gray: #4F5D5F;
    --gray-blue: #68819C;
    --light-blue: #81AEE5;
    --medium-blue: #274469;
    --purple: #A0A1F5;
    --dark-purple: #383970;
}

* {
    box-sizing: border-box;
}

/* 
============== Layout Styles ==============
*/

html {
    font-family: 'Raleway', sans-serif;
}

.profile--content {
    min-height: 90vh;
}

/* 
============== Additional Styles ==============
*/
.profile--header-container {
    width: 100%;
    height: 14rem;
    background: url('../assets/profile.jpg') 50% 40% no-repeat;
    background-size: cover;
    object-fit: cover;
    padding-top: 2rem;
}


.profile--pic-wrapper {
    width: 10rem;
    height: 10rem;
    display: inline-block;
    margin: 5rem 0 0 10rem;
    background: var(--white);
    border: .1rem solid var(--white);
    border-radius: .5rem;
}

.profile--pic {
    padding: .2rem;
    width: 100%;
    border-radius: .5rem;
}

.edit--profile-text {
    text-align: center;
    margin-top: .7rem;
    padding: .5rem 2rem .5rem 2rem;
    border: .1rem solid black;
    border-radius: .5rem;
}

.edit--profile-link {
    color: black;
}

.edit--profile-link:hover .edit--profile-text {
    color: white;
    background: black;
}

.follow--profile-button,
.following--profile-button {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin-top: .7rem;
    padding: .5rem 0;
    border-radius: .5rem;
}

.following--profile-button,
.follow--profile-button {
    color: var(--white);
}

.follow--profile-button {
    background: var(--purple);
    border: .1rem solid var(--purple);
}

.follow--profile-button:hover {
    background: var(--dark-purple);
    border: .1rem solid var(--dark-purple);
}

.following--profile-button {
    background: var(--light-blue);
    border: .1rem solid var(--light-blue);
}

.following--profile-button:hover {
    background: var(--medium-blue);
    border: .1rem solid var(--medium-blue);
}

.profile--info-container {
    display: flex;
    align-items: center;
    height: 7rem;
    background: var(--lighter-gray);
    padding-inline: 10rem;
}

.profile--username-location {
    margin-left: 14rem;
}

.profile--username {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: .25rem;
}

.profile--location {
    color: var(--dark-gray);
}

.profile--info-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.profile--info-posts-two,
.profile--info-posts-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3rem;
}

.profile--posts-number {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: .25rem;
}

.profile--posts-title {
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-gray);
}

.profile--about-posts {
    display: flex;
    padding: 1.5rem 10rem;
}

.profile--about {
    width: 23rem;
    height: 20rem;
    background: var(--lighter-gray);
    border-radius: .5rem;
    padding: 1rem;
}

.profile--about-text,
.profile--posts-text {
    font-weight: 500;
}

.margin-top {
    margin-top: 1rem;
    font-weight: 300;
}

.profile--posts {
    /* background: red; */
    margin-left: 1.5rem;
    width: 65%;
    border-radius: .5rem;
    padding: .9rem;
    border: .1rem solid var(--lighter-gray);
}

.profile--posts-list {
    width: 100%;
    display: flex;
    padding-top: 1rem;
    flex-wrap: wrap;
}

.profile--posts-list li {
    width: 49%;
}

.profile--post {
    width: 100%;
    border-radius: .5rem;
}

.li--margin-left {
    margin-left: auto;
}