/* 
============== Base Styles ==============
*/

:root {
    --white: #fff;
    --dark-blue: #111419;
    --dark-gray: #4F5D5F;
    --gray-blue: #68819C;
    --light-blue: #81AEE5;
    --purple: #A0A1F5;
    --dark-purple: #383970;
}

/* 
============== Layout Styles ==============
*/

html {
    font-family: 'Raleway', sans-serif;
}

main {
    min-height: 90vh;
}

/* 
============== Additional Styles ==============
*/