.create--post-wrapper {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: var(--dark-blue-low-opacity)
}

.create--post-container {
    position: absolute;
    z-index: 1000;
    top: 5rem;
    left: 50%;
    transform: translate(-50%);
    width: 35rem;
    height: 40rem;
    background: var(--dark-blue);
    border-radius: 1rem;
}