/* 
============== Base Styles ==============
*/

:root {
    --white: #fff;
    --dark-blue: #111419;
    --dark-gray: #4F5D5F;
    --gray-blue: #68819C;
    --light-blue: #81AEE5;
    --purple: #A0A1F5;
    --dark-purple: #383970;
}

html {
    font-family: 'Raleway', sans-serif;
}

.header {
    width: 100%;
    height: 3.5rem;
    /* background: var(--dark-blue); */
    background: hsla(216, 19%, 10%, 1);
    background: radial-gradient(circle, hsla(216, 19%, 10%, 1) 0%, hsla(218, 19%, 8%, 1) 100%, hsla(230, 66%, 60%, 1) 100%);
    background: -moz-radial-gradient(circle, hsla(216, 19%, 10%, 1) 0%, hsla(218, 19%, 8%, 1) 100%, hsla(230, 66%, 60%, 1) 100%);
    background: -webkit-radial-gradient(circle, hsla(216, 19%, 10%, 1) 0%, hsla(218, 19%, 8%, 1) 100%, hsla(230, 66%, 60%, 1) 100%);

    border-bottom: .1rem solid var(--light-blue);
}

/* 
============== Layout Styles ==============
*/

.header {
    display: flex;
    align-items: center;
}

.header--nav {
    width: 100%;
}

.header--list {
    display: flex;
    align-items: center;
    padding-inline: 10rem;
}

.logo--li {
    margin-right: auto;
}

/* 
============== Additional Styles ==============
*/

.header--li {
    font-weight: 300;
}

.header--logo-text {
    font-weight: 700;
}

.header--li-link {
    display: flex;
    align-items: center;
    color: var(--white);
}

.header--li-link:hover {
    color: var(--purple);
}

.header--logo-img {
    width: 1.5rem;
    margin-right: 0.5rem;
}

.margin-left {
    margin-left: 1rem;
}

.last--link {
    padding: .5rem 1rem;
    border: .1rem solid var(--purple);
    border-radius: .5rem;
}

.last--link:hover {
    color: var(--white);
    background: var(--dark-purple);
}