/* 
============== Base Styles ==============
*/

:root {
    --white: #fff;
    --dark-blue: #111419;
    --dark-gray: #4F5D5F;
    --gray-blue: #68819C;
    --light-blue: #81AEE5;
    --medium-blue: #274469;
    --purple: #A0A1F5;
    --dark-purple: #383970;
}

html {
    font-family: 'Raleway', sans-serif;
}

.header {
    width: 100%;
    height: 3.5rem;
    background: hsla(216, 19%, 10%, 1);
    background: radial-gradient(circle, hsla(216, 19%, 10%, 1) 0%, hsla(218, 19%, 8%, 1) 100%, hsla(230, 66%, 60%, 1) 100%);
    background: -moz-radial-gradient(circle, hsla(216, 19%, 10%, 1) 0%, hsla(218, 19%, 8%, 1) 100%, hsla(230, 66%, 60%, 1) 100%);
    background: -webkit-radial-gradient(circle, hsla(216, 19%, 10%, 1) 0%, hsla(218, 19%, 8%, 1) 100%, hsla(230, 66%, 60%, 1) 100%);

    border-bottom: .1rem solid var(--light-blue);
}

.reveal-mobile {
    display: none;
}

/* 
============== Layout Styles ==============
*/

.header {
    display: flex;
    align-items: center;
}

.header--nav {
    width: 100%;
}

.header--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10rem;
    gap: .75rem;
}

.logo--li {
    margin-right: auto;
}

/* 
============== Additional Styles ==============
*/

.header--li {
    font-weight: 300;
}

.header--logo-text {
    font-weight: 700;
}

.header--li-button {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: var(--white);
    background: transparent;
    border: none;
}

.header--li-button:hover {
    color: var(--purple);
    cursor: pointer;
}

.header--li-link {
    display: flex;
    align-items: center;
    color: var(--white);
}

.header--li-link:hover {
    color: var(--purple);
}

.header--logo-img {
    width: 1.5rem;
    margin-right: 0.5rem;
}

.search--form {
    display: flex;
    align-items: center;
    border: .15rem solid var(--light-gray);
    border-radius: .25rem;
    background: var(--lighter-gray);
}

.search--input,
.search--btn {
    border: none;
}

.search--input {
    font-family: 'Raleway', sans-serif;
    background: var(--white);
    padding: .25rem .25rem .25rem .5rem;
    border-right: none;
    width: 8rem;
}

.search--input:focus {
    outline: none;
    border: .15rem solid var(--purple);
}

.search--btn {
    background: var(--lighter-gray);
    padding: .26rem .5rem .25rem .5rem;
    border-left: none;
    cursor: pointer;
}

.seach--icon {
    color: var(--light-blue);
}

.margin-left {
    margin-left: 1rem;
}

.last--link {
    padding: .5rem 1rem;
    border: .1rem solid var(--purple);
    border-radius: .5rem;
}

.last--link:hover {
    color: var(--white);
    background: var(--purple);
}

.dropdown-button {
    color: var(--white);
}

@media screen and (max-width: 1290px) {
    .header--list {
        padding-inline: 6rem;
    }
}

@media screen and (max-width: 800px) {
    .header--list {
        padding-inline: 3rem;
    }
}

@media screen and (max-width: 950px) {

    .hide-mobile {
        display: none;
    }

    .reveal-mobile {
        display: block;
    }

    /* dropdown menu */
    .dropdown {
        position: relative;
    }

    #menu-icon {
        font-size: 1.3rem;
    }

    .dropdown-button {
        background: none;
        border: none;
        text-decoration: none;
        color: (--white);
        cursor: pointer;
        padding: 0;
    }

    .dropdown.active>.dropdown-button,
    .dropdown-button:hover {
        color: var(--purple);
    }

    .dropdown.active>.dropdown-button:hover {
        color: var(--dark-purple)
    }

    .dropdown-menu {
        position: absolute;
        top: calc(100% + 1.1rem);
        right: 0;
        z-index: 1;
        background: rgba(255, 255, 255, 0.97);
        box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transform: translateY(-1rem);
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
        border-radius: 0 0 .5rem .5rem;
    }

    .dropdown.active>.dropdown-button+.dropdown-menu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .mobile-list {
        border-radius: 0 0 .5rem .5rem;
        border-right: 0.1rem solid rgba(0, 0, 0, 0.1);
        border-left: 0.1rem solid rgba(0, 0, 0, 0.1);
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    .mobile-list li {
        font-size: 1.3rem;
        text-align: center;
        padding: 1rem 3rem;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    .link-hover {
        padding: auto;
        color: var(--dark-blue);
    }
    .mobile-list li:hover {
        background: var(--lighter-gray);
    }
    .mobile-list li:hover .link-hover {
        color: var(--medium-blue);
    }
}