/* 
============== Base Styles ==============
*/

:root {
	--white: #fff;
	--dark-blue: #111419;
	--medium-gray: rgb(227, 228, 229);
	--dark-gray: #4F5D5F;
	--gray-blue: #68819C;
	--light-blue: #81AEE5;
	--purple: #A0A1F5;
	--dark-purple: #383970;
}

* {
	box-sizing: border-box;
}

html {
	font-family: 'Raleway', sans-serif;
}

body {
	/* background: var(--dark-blue); */
	color: var(--dark-blue);
}

.header--link {
	color: var(--white);
}

.header--link:hover {
	color: var(--purple);
}

.alert,
.alert-danger {
	font-size: 1rem;
	margin-block: .25rem;
	padding: .75rem .5rem;
	border-radius: 1rem;
	color: var(--white);
}

.alert {
	background: rgb(239, 213, 95);
	border: .1rem solid rgb(239, 179, 68);
}

.alert-danger {
	background: rgb(239, 95, 95);
	border: .1rem solid rgb(239, 68, 68);
}

/* 
============== Layout Styles ==============
*/

.signup--background-img {
	position: fixed;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: -1000;
}

/* 
============== Additional Styles ==============
*/

.signup--text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.5rem;
	filter: drop-shadow(0 0 0.75rem var(--dark-blue));
}

.signup--header-title {
	font-size: 1rem;
	font-weight: 600;
}

.signup--header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header--login-text {
	padding: .5rem 1rem;
	border: .1rem solid var(--purple);
	border-radius: .5rem;
}

.header--login-text:hover {
	background: var(--dark-purple);
	color: var(--white);
}

.signup--form-container {
	background: var(--white);
	width: 30rem;
	padding: 4rem;
	margin-top: 2rem;

	display: flex;
	flex-direction: column;

	border-radius: 1rem;
}

.signup--title,
.signup--p {
	text-align: center;
}

.signup--title {
	font-size: 2rem;
	font-weight: 700;
}

.signup--p {
	margin-block: 1.5rem;
}

.signup--input-label {
	display: inline-block;
	margin-top: .5rem;
}

.signup--input {
	width: 100%;
	margin-top: .5rem;
	padding: .75rem 1rem;

	color: var(--dark-gray);
	border: .1rem solid var(--medium-gray);
	border-radius: .5rem;
	background: var(--white);
}

.signup--input:focus {
	outline: none;
	border-color: var(--purple);
	box-shadow: 0 0 0.3rem var(--purple);
	-webkit-box-shadow: 0 0 0.3rem var(--purple);
}

.signup--li {
	margin-bottom: .5rem;
}

.signup--btn {
	font-size: 1rem;
	margin-top: 1.5rem;
	width: 100%;
	padding-block: .75rem;
	color: var(--white);
	background: var(--purple);
	border: none;
	border-radius: .5rem;
}

.signup--btn:hover {
	background: var(--dark-purple)
}

.not-a-user {
	margin-top: 1.5rem;
	text-align: center;
}

.redirect {
	color: var(--purple);
}

.redirect:hover {
	color: var(--dark-purple);
}

.footer--author {
	margin-block: 1rem 3rem;
	color: var(--white);
	text-align: center;
}

@media screen and (max-width: 560px) {
	.signup--form-container {
		width: 22.5rem;
		padding: 3.5rem;
	}
}